* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  margin: 0;
}

.hero,
header {
  padding: 16px 220px 16px 220px;
}

/* Header segment */

/* Hero contains the logo and the 3 links from the upper right */
.hero {
  display: flex;
  justify-content: space-between;

  background-color: #1f2937;
}

.logo {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 400px;

  padding: 10px;

  white-space: nowrap;
}

/* The links from the upper right */
nav a {
  color: #e5e7eb;
  font-size: 18px;

  text-decoration: none;
}

/* The grid makes the h1, p and button separated from the header-img */
header {
  display: flex;
  justify-content: space-between;

  padding-top: 80px;

  background-color: #1f2937;
}

.h-container {
  width: 520px;
}

h1 {
  font-size: 48px;
  font-weight: 1000;

  margin: 0px;

  color: #f9faf8;
}

.h-container p {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

/* The Sing Up button under h1 */
.h-container button {
  color: white;
  background-color: #3882f6;

  font-size: 14px;
  font-weight: 800;

  padding: 6px 20px 6px 20px;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

/* The image on the right of the header */
.header-img {
  width: 500px;
}
